{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <style>
      .label {
          border: 1px solid;
          border-radius: 5px;
          padding: 5px 10px;
          color: white
      }
      .label-success {
          background-color: #28a745;
          border-color: #1c7430;
      }
      .label-warning {
          background-color: #ffc107;
          border-color: orange;
          color: black;
      }
      .label-danger {
          background-color: #dc3545;
          border-color: darkred;
      }
      .label-info {
          background-color: #17a2b8;
          border-color: #007bff;
      }
  </style>
{% endblock %}

{% block main %}
  {% set article = getMostRecentArticle() %}
<h1>Demo About twig extension : Filters and Functions</h1>
<p>myString : {{ myString }}</p>
<h2 style="color: darkblue">Filters</h2>
<p>Nombre de majuscule dans myString : {{ myString|countUpper }}</p>

<h2 style="color: darkred">Functions</h2>
<p>Nombre de majuscule dans myString : {{ countUpper(myString)}}</p>

{% if article is not null %}
  <h3>Dernier article à lire</h3>
  <p>{{ article.title }} {{ article|statusIcon|raw }}</p>
{% endif %}

<h2>Helpers</h2>
  <div>
    <p><a href="https://twig.symfony.com/doc/3.x/#reference" target="_blank">Filtres et fonctions de twig</a></p>
    <p><a href="https://symfony.com/doc/current/reference/twig_reference.html" target="_blank">Filtres et fonctions ajouté par symfony</a></p>
  </div>
{% endblock %}
